

.logo-header {
  height: 60px;       
  max-width: 50%;
  padding: 0;         /* remove extra left padding */
}

.crypto-logo {
    padding-left:30%;

}

/* ===========================
  SPACING BW 2 LOGOS
=========================== */

.logos-box {
  position: relative;
  display: flex;
  align-items: center;
}

.spacer {
  position: absolute;
  right: 9%; /* 9% from right edge of h2 */
  font-size: larger;
}

/* ===========================
  MEDIA QUERIES
=========================== */

@media (max-width: 600px) {
  /* Logo already responsive — no change needed */
  .logo-header {
    width:max-content;
  }
  .spacer {
    display:none;
    }

  .crypto-logo{
    padding-left:5%;
    padding-right:5%;
  }
}

 @container (min-width: 400px) {
    .spacer {
        gap: 8cqw; /* 8% of container width */
    }
}




